body {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

.flex {
  display: flex;
}

.container {
    width: 960px;
    margin: auto;
}
/* Main Picture */

.main-pic {
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  width: auto;
  color: white;
}
@media only screen and (max-width: 850px) {
  .container {
    width: 850px;
  }
  .main-pic {
    height: 22rem;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    width: 480px;
  }
  .main-pic {
    background-position: 20%;
    height: 17rem;
  }
}
/* LOGO n NAV bar */

.logo-banner {
  background-color: cadetblue;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  position: relative;
  top: 1rem;
}
.logo-banner .logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 1.5rem;
  width: auto;
  margin: 0 1rem 0 2rem;
}
.logo-banner nav {
  margin: 1rem 2rem 1rem 0
}
.logo-banner nav span a {
  margin-left: 2rem;
  color: white;
  text-decoration: none;
}
.logo-banner nav.menu {
  display: none;
}

@media only screen and (max-width: 850px) {
  .logo-banner {
    width: 100%;
    top: 0;
  }
}

@media only screen and (max-width: 480px) {
  .logo-banner nav.web-tab {
    display: none;
  }
  .logo-banner nav.menu {
    display: block;
  }
}
/* Look, See */

.dont {
  display: flex;
  justify-content: flex-end;
}
.look-see {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  width: 25rem;
  padding: 1.5rem 5rem;
  text-transform: uppercase;
  margin-top: 13rem;
  margin-right: -2rem;
}

@media only screen and (max-width: 850px) {
  .look-see {
    font-size: 1.33rem;
    width: 16rem;
    padding: .75rem 4rem;
    margin-top: 5rem;
    margin-right: 5rem;
  }
}
@media only screen and (max-width: 480px) {
  .look-see {
    width: 100%;
    font-size: 1rem;
    margin-top: 12rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
}

/* Process Section */

.process {
  justify-content: center;
  margin: 3rem 0;
}
.process .step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  margin: 0 3rem;
  text-align: center;
}
.step img {
  align-self: center;
  width: 5rem;
  margin-bottom: 1rem;
}

.step img.paper {
  width: 3.5rem;
}

@media only screen and (max-width: 480px) {
  .process {
    flex-direction: column;
    margin: 3.77rem 0;
    font-size: 0.77rem;
  }
  .process .fitting {
    margin: 1.54rem 0;
  }
  .step img {
    margin-bottom: 0;
  }
}

/* Philosophy / Appointments */

.appt-sched {
  justify-content: center;
}
.box {
  width: 35%;
  margin-right: 5%;
}
.box h3 {
  font-weight: bold;
  font-size: 1rem;
  padding: .5rem 0 .5rem 1.25rem;
  width: 12rem;
  background-color: cadetblue;
  color: white;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 850px) {
  .box {
    width: 30%;
  }
}
@media only screen and (max-width: 480px) {
  .appt-sched {
    flex-direction: column;
  }
  .box {
    width: 100%;
    margin: 0 0 4rem 0;
  }
  .box h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
  .box p {
    width: 85%;
    margin: auto;
    font-size: .77rem;
  }
}
/* FOOTER */

footer {
  padding: 4rem;
  margin-top: 5rem;
  background-color: azure;
}
footer img {
  height: 1.5rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 480px) {
  footer {
    justify-content: center;
    padding: 5rem 0;
  }
  footer img {
    margin-right: 0;
  }
  footer h6 {
    display: none;
  }
}
